<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Store Manager</title>
        <link href="../../assets/styles/store_attendant.css" rel ="stylesheet">
        <link href="../../assets/images/icon.jpg" rel="icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        
        <div class="topnav">
                <div class="topnav-right">
                    <a href="../../index.html">LogOut <i class="fa fa-power-off"></i></a>
                </div>
            </div> 

        <div class="sidebar">
            <a href="store_attendant.html"><i class="fa fa-fw fa-product-hunt"></i>Products</a>
            <a href="#"><i class="fa fa-fw fa-edit"></i>Create Sale Record</a>
            <a href="view_sale_records.html"><i class="fa fa-fw fa-shopping-bag"></i> Sale Records</a>                
            <!-- <a href="#setting"><i class="fa fa-fw fa-gear"></i> Settings</a> -->
            <a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a>
            <div id="footer">
                <h4>Store Manager &copy; 2018</h4> 
            </div>
        </div>
              
              <div class="main">
                <div class="fcontainer">
                
                        <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Products" style="width: 20%; margin-left: 100px; border-radius: 10px; padding: 5px;"> -->
                        
                        <button class="tablink" onclick="openPage('tb', this, 'green')" id="defaultOpen">Tea & Beverages</button>
                        <button class="tablink" onclick="openPage('kw', this, 'green')" >Kitchen Ware</button>
                        <button class="tablink" onclick="openPage('ele', this, 'green')">Electronics</button>
                        <button class="tablink" onclick="openPage('fs', this, 'green')">Food Stuffs</button>
                        <button class="tablink" onclick="openPage('toi', this, 'green')">Toiletries</button>
                        <button class="tablink" onclick="openPage('hs', this, 'green')" >Household Supplies</button>
                        <button class="tablink" onclick="openPage('s', this, 'green')">Stationery</button>
                        <button class="tablink" onclick="openPage('bp', this, 'green')">Baby Products</button>
                        
                        <div id="tb" class="tabcontent">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Products" style="width: 20%; margin-left: 100px; border-radius: 10px; padding: 5px;">

                          <ul class="product_gallery">
                              <li>
                                  <img src="../../assets/images/products/tea.png">
                                  <div class="product_info">
                                      <h4>Ahmad Tea English Breakfast</h4>
                                      <hr>
                                      <div class="product_details">
                                        <span>UGX 5,500</span>
                                            <p>Stock: 50</p>
                                      </div>
                                      
                                      <a href="#" class="buy">Add to Cart</a>
                                  </div>
                                  
                              </li>
                              <li>
                                    <img src="../../assets/images/products/tea2.png">
                                    <div class="product_info">
                                        <h4>Twinings Jasmine Green Tea</h4>
                                        <hr>
                                        <div class="product_details">
                                          <span>UGX 8,500</span>
                                              <p>Stock: 34</p>
                                        </div>
                                        
                                        <a href="#" class="buy">Add to Cart</a>
                                    </div>
                                    
                                </li>
                                <li>
                                        <img src="../../assets/images/products/tea3.png">
                                        <div class="product_info">
                                            <h4>Nature's Guru Organic Masala Chai</h4>
                                            <hr>
                                            <div class="product_details">
                                              <span>UGX 10,500</span>
                                                  <p>Stock: 19</p>
                                            </div>
                                            
                                            <a href="#" class="buy">Add to Cart</a>
                                        </div>
                                        
                                    </li>
                                        <li>
                                                <img src="../../assets/images/products/fanta.png">
                                                <div class="product_info">
                                                    <h4>Fanta 1.5 L</h4>
                                                    <hr>
                                                    <div class="product_details">
                                                      <span>UGX 4,500</span>
                                                          <p>Stock: 500</p>
                                                    </div>
                                                    
                                                    <a href="#" class="buy">Add to Cart</a>
                                                </div>
                                                
                                            </li>
                                            <li>
                                                    <img src="../../assets/images/products/tea4.png">
                                                    <div class="product_info">
                                                        <h4>Ahamd Tea Green Tea Pure</h4>
                                                        <hr>
                                                        <div class="product_details">
                                                          <span>UGX 5,500</span>
                                                              <p>Stock: 59</p>
                                                        </div>
                                                        
                                                        <a href="#" class="buy">Add to Cart</a>
                                                    </div>
                                                    
                                                </li>
                              
                            </ul>
                        </div>
                        
                        <div id="kw" class="tabcontent">
                                <ul class="product_gallery">
                                        <li>
                                                <img src="../../assets/images/products/kw.png">
                                                <div class="product_info">
                                                    <h4>Product Name</h4>
                                                    <hr>
                                                    <div class="product_details">
                                                      <span>UGX 5,500</span>
                                                          <p>Stock: 5</p>
                                                    </div>
                                                    
                                                    <a href="#" class="buy">Add to Cart</a>
                                                </div>
                                                
                                            </li>
                                        </ul>
                        </div>
                        
                        <div id="ele" class="tabcontent">
                          <ul class="product_gallery">
                                <li>
                                        <img src="../../assets/images/products/fridge.png">
                                        <div class="product_info">
                                            <h4>Product Name</h4>
                                            <hr>
                                            <div class="product_details">
                                              <span>UGX 5,500</span>
                                                  <p>Stock: 5</p>
                                            </div>
                                            
                                            <a href="#" class="buy">Add to Cart</a>
                                        </div>
                                        
                                    </li>
                                    <li>
                                            <img src="../../assets/images/products/whoofer.png">
                                            <div class="product_info">
                                                <h4>Product Name</h4>
                                                <hr>
                                                <div class="product_details">
                                                  <span>UGX 5,500</span>
                                                      <p>Stock: 5</p>
                                                </div>
                                                
                                                <a href="#" class="buy">Add to Cart</a>
                                            </div>
                                            
                                        </li>
                          </ul>
                        </div>
                        
                        <div id="fs" class="tabcontent">
                            <ul class="product_gallery">
                                <li>
                                        <img src="../../assets/images/products/ku.png">
                                        <div class="product_info">
                                            <h4>Product Name</h4>
                                            <hr>
                                            <div class="product_details">
                                              <span>UGX 5,500</span>
                                                  <p>Stock: 5</p>
                                            </div>
                                            
                                            <a href="#" class="buy">Add to Cart</a>
                                        </div>
                                        
                                    </li>
                                    <li>
                                            <img src="../../assets/images/products/th.png">
                                            <div class="product_info">
                                                <h4>Product Name</h4>
                                                <hr>
                                                <div class="product_details">
                                                  <span>UGX 5,500</span>
                                                      <p>Stock: 5</p>
                                                </div>
                                                
                                                <a href="#" class="buy">Add to Cart</a>
                                            </div>
                                            
                                        </li>
                                </ul>
                        </div>

                        <div id="toi" class="tabcontent">
                                <ul class="product_gallery">
                                    <li>
                                            <img src="../../assets/images/products/gei.png">
                                            <div class="product_info">
                                                <h4>Product Name</h4>
                                                <hr>
                                                <div class="product_details">
                                                  <span>UGX 5,500</span>
                                                      <p>Stock: 5</p>
                                                </div>
                                                
                                                <a href="#" class="buy">Add to Cart</a>
                                            </div>
                                            
                                        </li>
                                        <li>
                                                <img src="../../assets/images/products/deter.png">
                                                <div class="product_info">
                                                    <h4>Product Name</h4>
                                                    <hr>
                                                    <div class="product_details">
                                                      <span>UGX 5,500</span>
                                                          <p>Stock: 5</p>
                                                    </div>
                                                    
                                                    <a href="#" class="buy">Add to Cart</a>
                                                </div>
                                                
                                            </li>
                                    </ul>
                            </div>
                            <div id="hs" class="tabcontent">
                                    <ul class="product_gallery">
                                        <li>
                                                <img src="../../assets/images/products/mop_1.png">
                                                <div class="product_info">
                                                    <h4>Product Name</h4>
                                                    <hr>
                                                    <div class="product_details">
                                                      <span>UGX 5,500</span>
                                                          <p>Stock: 5</p>
                                                    </div>
                                                    
                                                    <a href="#" class="buy">Add to Cart</a>
                                                </div>
                                                
                                            </li>
                                            <li>
                                                    <img src="../../assets/images/products/bucket_2.png">
                                                    <div class="product_info">
                                                        <h4>Product Name</h4>
                                                        <hr>
                                                        <div class="product_details">
                                                          <span>UGX 5,500</span>
                                                              <p>Stock: 5</p>
                                                        </div>
                                                        
                                                        <a href="#" class="buy">Add to Cart</a>
                                                    </div>
                                                    
                                                </li>
                                        </ul>
                                </div>
                                <div id="s" class="tabcontent">
                                        <ul class="product_gallery">
                                            <li>
                                                    <img src="../../assets/images/products/sharpener.png">
                                                    <div class="product_info">
                                                        <h4>Product Name</h4>
                                                        <hr>
                                                        <div class="product_details">
                                                          <span>UGX 5,500</span>
                                                              <p>Stock: 5</p>
                                                        </div>
                                                        
                                                        <a href="#" class="buy">Add to Cart</a>
                                                    </div>
                                                    
                                                </li>
                                                
                                            </ul>
                                    </div>
                                    <div id="bp" class="tabcontent">
                                            <ul class="product_gallery">
                                                <li>
                                                        <img src="../../assets/images/products/babyw.png">
                                                        <div class="product_info">
                                                            <h4>Product Name</h4>
                                                            <hr>
                                                            <div class="product_details">
                                                              <span>UGX 5,500</span>
                                                                  <p>Stock: 5</p>
                                                            </div>
                                                            
                                                            <a href="#" class="buy">Add to Cart</a>
                                                        </div>
                                                        
                                                    </li>
                                                    <li>
                                                            <img src="../../assets/images/products/pamps.png">
                                                            <div class="product_info">
                                                                <h4>Product Name</h4>
                                                                <hr>
                                                                <div class="product_details">
                                                                  <span>UGX 5,500</span>
                                                                      <p>Stock: 5</p>
                                                                </div>
                                                                
                                                                <a href="#" class="buy">Add to Cart</a>
                                                            </div>
                                                            
                                                        </li>
                                                </ul>
                                        </div>
                
        
    
                        <script>
                        function openPage(pageName,elmnt,color) {
                            var i, tabcontent, tablinks;
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }
                            tablinks = document.getElementsByClassName("tablink");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].style.backgroundColor = "";
                            }
                            document.getElementById(pageName).style.display = "block";
                            elmnt.style.backgroundColor = color;
                        
                        }
                        // Get the element with id="defaultOpen" and click on it
                        document.getElementById("defaultOpen").click();
                        </script>







                        
                </div>
               
              </div>
        
        


                    

          
        

        
    </body>
    
</html>


