<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Store Manager</title>
        <link href="../../assets/styles/store_admin.css" rel ="stylesheet">
        <link href="../../assets/images/icon.jpg" rel="icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        
        <div class="topnav">
            <div class="topnav-right">     
                <a href="../../index.html">LogOut <i class="fa fa-power-off"></i></a>
            </div>
        </div> 

        <div class="sidebar">
            <a href="#add_attendants"><i class="fa fa-fw fa-edit"></i>Add Attendant</a>
            <a href="view_attendants.html"><i class="fa fa-fw fa-navicon"></i>Attendants</a>
            <a href="view_sales.html"><i class="fa fa-fw fa-shopping-bag"></i> Sales</a>
            <a href="#products"><i class="fa fa-fw fa-product-hunt"></i> Products</a>
            <a href="#"><i class="fa fa-fw fa-edit"></i> Add Product</a>

            <!-- <a href="#setting"><i class="fa fa-fw fa-gear"></i> Settings</a> -->
            <!-- <a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a> -->

            <div id="footer">
                <h4>Store Manager &copy; 2018</h4> 
            </div>
        </div>
              
        <div class="main">
            <div class="fcontainer">
                <form>
                        
                    Name: <br><input type="text" name="pname" required><br><br>
                    Model Number: <br><input type="text" name="pmodel" required><br><br>
                    <label for="category">Category:</label><br>
                    <select id="category" name="category" required>
                        <option value="food_stuffs">Food Stuffs</option>
                        <option value="fruits">Fruits</option>
                        <option value="Furniture">Furniture</option>

                        <option value="Health_and-beauty">Health and Beauty</option>
                        <option value="kitchen_ware">Kitchen Ware</option>

                        <option value="Stationery">Stationery</option>
                        <option value="Toiletteries">Toiletteries</option>
                        <option value="toys">Toys</option>
                    </select>
                    <br><br>
                    Unit Price: <br><input type="number" name="pprice" required><br><br>
                    Quantity: <br><input type="number" name="pqty" required><br><br>
                    Image: <br><input type="image" name="pimage" required><br><br>
                    <input type="submit" value="Add Product">
                </form> 
            </div>
               
        </div>

    </body>
    
</html>


