<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Store Manager</title>
        <link href="../../assets/styles/store_admin.css" rel ="stylesheet">
        <link href="../../assets/images/icon.jpg" rel="icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>
    

        <div class="topnav">
            <div class="topnav-right">
                
                <a href="../../index.html">LogOut <i class="fa fa-power-off"></i></a>
            </div>
        </div> 

        <div class="sidebar">
                <a href="store_admin.html"><i class="fa fa-fw fa-edit"></i>Add Attendant</a>
                <a href="view_attendants.html"><i class="fa fa-fw fa-navicon"></i>Attendants</a>
                <a href="view_sales.html"><i class="fa fa-fw fa-shopping-bag"></i> Sales</a>
                <a href="view_products.html"><i class="fa fa-fw fa-product-hunt"></i> Products</a>
                <a href="add_product.html"><i class="fa fa-fw fa-edit"></i> Add Product</a>

                <!-- <a href="#setting"><i class="fa fa-fw fa-gear"></i> Settings</a> -->
                <a href="../../index.html"><i class="fa fa-power-off"></i> Logout</a>

                <div id="footer">
                        <h4>Store Manager &copy; 2018</h4> 
                    </div>
        </div>
              
              <div class="main">
                <div class="fcontainer">
                    <div class="search">
                            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Sales" ><button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    <br><br>
                        <table id="myTable" style="width: 80%; margin-left: 70px;">
                          <tr class="header">
                            <th>Date</th>
                            <th>Total Sales</th>   
                            <th>Number of Items Sold</th>
                            <th>Profit (UGX)</th>
                            <th>Attendant</th> 
                            <th>Actions</th>                
                          </tr>
                          <tr>
                            <td><span id="date"><script>document.getElementById("date").innerHTML=Date();</script></span></td>
                            <td>30</td>
                            <td>56</td>
                            <td>129,000</td>
                            <td>Daizy Obura</td>
                            <td><a href="#">View More</a></td>
                          </tr>
                          <tr>
                                <td><span id="de">
                                        <!-- <p id="demo"></p> -->

                                        <script>
                                        var d = new Date(2018, 9, 11, 10);
                                        document.getElementById("de").innerHTML = d;
                                        </script>
                                        </span></td>
                                    
                                    <!-- <script>document.getElementById("date").innerHTML=Date();</script></span></td> -->
                                <td>10</td>
                                <td>20</td>
                                <td>58,000</td>
                                <td>Daizy Obura</td>
                                <td><a href="#">View More</a></td>
                              </tr>
                        </table>
                </div>
               
              </div>
        
        <!-- <section >





            <div class="fcontainer">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Products" style="width: 20%; margin-left: 100px; border-radius: 10px; padding: 5px;">

                    <table id="myTable" style="width: 80%; margin-left: 70px;">
                      <tr class="header">
                        <th>Name</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Price</th> 
                        <th>Actions</th>                  
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </table>  -->


                    <!-- <form>
                        
                            Name: <br><input type="text" name="pname" required><br><br>
                            Model Number: <br><input type="text" name="pmodel" required><br><br>
                            <label for="category">Category:</label><br>
                            <select id="category" name="category" required>
                                <option value="australia">Clothing</option>

                                <option value="food_stuffs">Food Stuffs</option>
                                <option value="fruits">Fruits</option>
                                <option value="Furniture">Furniture</option>
                                
                                
                                <option value="Health_and-beauty">Health and Beauty</option>
                                <option value="kitchen_ware">Kitchen Ware</option>
                                
                                
                                <option value="Stationery">Stationery</option>
                                <option value="Toiletteries">Toiletteries</option>
                                <option value="toys">Toys</option>
                            </select>
                            <br><br>
                            Price: <br><input type="number" name="pprice" required><br><br>
                            Image: <br><input type="image" name="pimage" required><br><br>
                            <input type="submit" value="Add Product">
                        </form> -->

            </div>
            



                
            <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for entry" style="width: 20%; margin-left: 100px; border-radius: 10px; padding: 5px;">

                <table id="myTable" style="width: 80%; margin-left: 100px;">
                  <tr class="header">
                    <th>Date of Entry</th>
                    <th>Time of Entry</th>
                    <th>Title</th>
                    <th>Content</th> 
                    <th>Actions</th>                  
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>  -->
        </section>

        <!-- <div id="footer">
            <h4>Store Manager &copy; 2018</h4> 
        </div> -->
    </body>
    
</html>


